let g:hateblo_vim = {
      \ 'user':         'user_name',
      \ 'api_key':      'api_key',
      \ 'api_endpoint': 'http://.../atom',
      \ 'WYSIWYG_mode': 0 | 1,
      \ 'always_yes':   0 | 1
\ }
